#content {max-width: 1600px; margin: 0 auto;}
nav a {text-align: center;}
#hero-msg h1, #hero-msg h4 {text-align: center;}
.button-box {text-align: center;}
main section {text-align: center;}
#background {height: 725px;}
body {
  background-color: #ffffff; 
}

header {
  background-color: #06402b; 
  color: white; 
}

#background {
  background-color: #eee; 
}

.msg {
  background-color: #f0f8ff; 
}

footer {
  background-color: #06402b; 
  color: white; 
}
nav a {
  color: #333;
  text-decoration: none;
}
nav a:hover {
  color: #06402b;
}


.home-title {
  color: #06402b;
}


h4 {
  color: #000000;
}


.book,
.join {
  color: #fff;
  background-color: #06402b;
}
.book:hover,
.join:hover {
  color: #06402b;
  background-color: #fff;
  border: 1px solid #06402b;
}


.msg h2 {
  color: #06402b;
}
.msg p {
  color: #06402b;
}


footer {
  color: #fff;
}
footer a {
  color: #06402b;
  text-decoration: none;
}
footer a:hover {
  color: #06402b;
}
.icon {width: 80px;}
nav a {
    text-align: center;
    color: #fffefe;
    text-decoration: none;
}    
.book {
    text-align: center;
    color: #fffefe;
    text-decoration: none;
} 
.join {
    text-align: center;
    color: #fffefe;
    text-decoration: none;
}
footer a {
    text-align: center;
    color: #fffefe;
    text-decoration: none;
}
footer p {font-size: 1.2em;}
footer p a:hover {
    text-decoration: underline;
} 
body {font-family:Arial, Helvetica, sans-serif;}
.home-title, .msg h2 {font-family:'Courier New', Courier, monospace;}
body {
  font-size: 22px; 
}

.home-title {
  font-size: 2em; margin-top: 10px; 
}

.book, .join {
  font-size: 18px; 
}

.msg p {
  font-size: 0.8em; background-color: #d3d2d2; 
}
body {margin: 0; padding: 0; background-color: #e7e7e7;}
h2 {margin: 0;}
#logo_link {padding: 5px;}
nav a {padding: 35px;}
.book, .join {padding: 15px 30px; margin-top: 50px; border-radius: 5px;}
.icon {padding-top: 10px; color:#ffffff}
.msg {padding: 55px; color:#000000}
.msg p {padding-bottom: 15px; color:#000000}
footer {padding: 25px 50px; margin-top: 200px;}
footer .social img {padding-top: 15px; color:#ffffff}
.rivers-card, .camping-card, .rapids-card {margin: 200px 0;}
.card.img {border: 10px solid #000000;}
main section img {box-sizing: border-box;}
img.mountains {padding: 175px;}
#hero-img {width: 1600px;}


